<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sixbynine.civ3guide.androidApp">

    <application
        android:label="@string/app_name"
        android:allowBackup="false"
        android:name="com.sixbynine.civ3guide.shared.Civ3GuideApplication"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.sixbynine.civ3guide.androidApp.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>