<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sixbynine.civ3guide.android">

    <application
        android:name="com.sixbynine.civ3guide.shared.Civ3GuideApplication"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.sixbynine.civ3guide.android.home.HomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".quiz.QuizActivity"
            android:label="@string/home_label_quiz_title"
            android:exported="false" />
        <activity
            android:name=".workerpuzzle.WorkerPuzzleActivity"
            android:label="@string/home_label_worker_action_title"
            android:exported="false" />
        <activity
            android:name=".cityplacement.CityPlacementPuzzleActivity"
            android:label="@string/city_placement_title"
            android:exported="false" />
        <receiver android:name=".notification.NewBetaVersionPackageReplacedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>